.chat__main--footer--form
  .chat__main--footer--form--picture
    %label
      %i.fa.fa-picture-o{class:"icon3"}
      %input{type: "file",id:"filesend"}
  .chat__main--footer--form--message
    type a message
.chat__main--footer--send
  Send