.chat__main--header--gname
  = @group.name
.chat__main--header--edit
  = link_to "Edit" , edit_group_path(params[:group_id])
.chat__main--header--members
  - @members.each do |member|
    = member.name

