.chat
  .chat__side
    =render partial:"chat-side-top"
    =render partial:"chat-side-group"
  .chat__main
    .chat__main--header
      =render partial:"chat-main-header"
    .chat__main--messages
      =render partial:"chat-main-messages"
    .chat__main--footer
      =render partial:"chat-main-footer"